{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
    {% if alert %}
        <div class="alert alert-primary" role="alert">
          {{ alertMessage }}
        </div>
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Shares</th>
              <th scope="col">Price</th>
              <th scope="col">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for row in transactions %}
                <tr>
                    <td>{{ row["symbol"] }}</td>
                    <td>{{ row["num"] }}</td>
                    <td>${{ row["price"] }}</td>
                    <td>{{ row["time"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}